body {
    background-color: #151547;
    color: whitesmoke;
}

header {
    border-bottom: grey solid 1px;
    display: flex;
    justify-content: space-between;
}

.small-logo {
    height: 50px;
    width: 50px;
}

svg:hover #home {
    fill: grey;
}

main {
    display: flex;
    justify-content: center;
}