body {
    background-color: #001835;
    color: whitesmoke;
}

html, body, #root, .app {
    margin: 0;
    width: 100%;
    height: 100%
}

h1, h3 {
    margin: 0;
}

header {
    border-bottom: #21364F solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    z-index: 2;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.errors {
    margin-top: 5px;
    background: rgba(192,192,192,0.6);
    border-radius: 5px;
}

.small-logo {
    height: 50px;
    width: 50px;
}

svg {
    height: 40px;
    width: 40px;
    margin: 5px;
}

svg:hover #home, svg:hover #profile {
    fill: lightgray;
}

#like-icon, #following-icon {
    height: 20px;
    width: 20px;
    margin: 2px 15px 2px 2px;
}

#like-link, #following-link {
    display: flex;
    align-items: center;
}

.profile-dropdown {
    position: absolute;
    top: 65px;
    right: 0px;
    background: whitesmoke;
    color: #4d4d4d;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 240px;
    height: 410px;
}

.profile-dropdown span {
    background: lightgray;
    color: #4d4d4d;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 80%;
    display: flex;
    justify-content: space-between;
}

.profile-dropdown > a, h3 {
    margin: 5px;
}

#logout-link {
    background: none;
    margin-left: 20px;
    cursor: pointer;
}

.current-user {
    display: flex;
}

.current-user-pic {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 3px;
}

#posts-link, #followers-link {
    text-indent: 20%;
}


main {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
    z-index: -1;
}