.post-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-item {
    background: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    width: 540px;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
}

.post-author {
    margin-bottom: 10px;
    font-weight: 550;
    font-size: 80%;
}

.post-icons {
    background: whitesmoke;
    color: grey;
    display: flex;
    width: 559px;
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px;
}

.post-icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    border-right: solid lightgrey 1px;
    padding: 9px;
    cursor: pointer;
}

.post-icons > div:last-child {
    border-right: none;
}


.text-icon {
    font-weight: 800;
    font-size: 200%;
    color: black;
}
