.post-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-item {
    background: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    width: 540px;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
    position: relative;
}

.post-item > a {
    margin-bottom: 10px; 
}

.post-author {
    font-weight: 550;
    font-size: 80%;
    color: black;
}

.post-icons {
    background: whitesmoke;
    color: grey;
    display: flex;
    width: 559px;
    border-radius: 5px;
    margin: 15px;
    padding: 8px 12px 8px 8px;

}

.post-icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-right: solid lightgrey 1px;
    padding: 9px 10px 9px 10px;
    cursor: pointer;
}

.post-icons > div:last-child {
    border-right: none;
}

.settings-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
}


.text-icon {
    font-weight: 800;
    font-size: 200%;
    color: black;
    margin-bottom: 10px;
}

.post-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 25, 53, 0.95);
  z-index: 10;
}

.post-modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.post-form-container {
    padding: 30px;
}

.text-box {
    border: none;
    width: 500px;
    height: 200px; 
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-form-buttons > button {
    background: grey;
    color: white;
    border-radius: 3px;
    padding: 8px 12px 8px 12px;
    font-size: 105%;
    cursor: pointer;
}

.post-form-buttons > input {
    background: #00B8FF;
    color: white;
    border-radius: 3px;
    padding: 8px 15px 8px 15px;
    font-size: 105%;
    cursor: pointer;
}

.settings-icon-container {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.settings-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.settings-container > button {
    width: 135px;
    color: grey;
    box-shadow: none;
    text-align: start;
    border: none;
    position: relative;
    bottom: -30px;
    left: 410px;
    padding: 10px;
    cursor: pointer;
    font-size: 90%;
}

.settings-container > button:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.settings-container > button:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.delete-post-form > h2 {
    color: grey;
}

.delete-post-form {
    padding: 15px;
}

.delete-buttons {
    display: flex;
    justify-content: center;
}

.delete-cancel {
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 105%;
    cursor: pointer;
    margin-right: 5px;
    height: 50px;
    width: 170px;
}

.delete-ok {
    background: #00B8FF;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 105%;
    cursor: pointer;
    height: 50px;
    width: 170px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.profile-container {
    width: 60px;
}

.post-container {
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
}

.sticky-bottom {
    display: flex;
    align-items: flex-end;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.likes-count {
    font-size: 70%;
    font-weight: bold;
    color: grey;
}

input[type='file'] {
  opacity: 0;
  position: absolute;
}

.file-input-container {
    cursor: pointer;
    background: rgb(201, 199, 199);
    color: grey;
    border-top: dashed 1px black;
    border-bottom: dashed 1px black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 280px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#file-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-photo-icon {
    width: 100%;
    height: 100%;
}

.new-video-icon {
    width: 100%;
    height: 100%;
}

.delete-icon {
    position: absolute;
    cursor: pointer;
}