body {
    background-color: #151547;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* div[class^='splash-'] {
    z-index: -1;
    position: relative;
    top: -77px;
    width: 100%;
} */

.splash-bg {
    /* margin: 0; */
    /* background-image: url('../images/grumpy-cat.jpg'); */

    background-size: 100% 100%;
    /* need to make image cut off when change screen size */
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    top: -64px;
    width: 100%;
    height: 100%;
}

.splash {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash-header {
    border: none
}

.session-container {
    margin: 0 auto;
    text-align: center;
}

.main-logo {
    font-family: 'Bookman Old Style';
    font-size: 75px;
}

.tag-line {
    font-size: 16px;
    margin: 5px 0px 20px 0px;
}

[class^='button-'] {
    text-decoration: none;
    background: #00B8FF;
    color: whitesmoke;
    height: 40px;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    border-radius: 3px;
}

[class^='button-'] > a {
    width: 100%;
    height: 100%;
    color: white
}

#button-demo {
    background: white;
}

#button-demo > a {
    color: grey;
}

.header-link {
    color: grey;
    background: white;
    padding: 5px;
    font-size: 80%;
    border-radius: 4px;
    margin-right: 5px;
}

.header-link:hover {
    opacity: 0.6;
}

.session-form input {
    height: 40px;
    line-height: 40px;
    width: 300px;
    border: none;
    text-align: center;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: grey;
    border-radius: 3px;
    opacity: 0.8;
}

#input-username, #input-email{
    border-bottom: solid 1px lightgrey;
}

input[class^='button-'] {
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


/* [data-aos="custom-slide"] {
    transition-property: transform;
}

[data-aos="custom-slide"].aos-animate {
    transform: translateY(-100%);
} */

/* .anchor-1 {

    height: 100%;
    background: lightseagreen;
}

.anchor-2 {

    height: 100%;
    background: blue;
} */




  

