body {
    background-color: #151547;
    color: whitesmoke;
}

/* div[class^='splash-'] {
    z-index: -1;
    position: relative;
    top: -77px;
    width: 100%;
} */

.splash {
    margin: 0;
    background-image: url('../images/grumpy-cat.jpg');
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    /* need to make image cut off when change screen size */
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    top: -79px;
}

/* [data-aos="custom-slide"] {
    transition-property: transform;
}

[data-aos="custom-slide"].aos-animate {
    transform: translateY(-100%);
} */

/* .anchor-1 {

    height: 100%;
    background: lightseagreen;
}

.anchor-2 {

    height: 100%;
    background: blue;
} */




  

